*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

header {
    background-color: rgb(40, 66, 0);
    width: 100%;
    height: auto;
}

h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    padding-top: 5px;
}

.div40{
    width: 40%;
    height: 50vh;
    float: left;
}

.div50 {
    width: 50%;
    height: 50vh;
    float: left;
}

.fondo1 {
    background-color: grey;
}

.fondo2 {
    background-color: black;
}

.floatRight {
    float: right;
    margin-right: 3px;
}

button.style {
    background-color: rgb(48, 194, 48);
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 40%;
    height: 25px;
    margin-left: 3px;
    border-radius: 3px;
    border: 1px solid white;
    font-size: 11px;
}



.noStyle {
    background-color: rgba(48, 194, 48, 0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    margin-left: 3px;
    border-radius: 3px;
    border: 1px solid white;

}

table {
    border: 1px solid #ddd;
    
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 10px;
    
}

#tablaid1 {
    background-color: rgb(29, 243, 172);
}

#tablaid2 {
    background-color: steelblue;
}

td, tr {
    border: 2px solid black;
}

input[type=text]
{
    color: black;
    height: 28px;
    padding-left: 10px;
    background-color: greenyellow;
    background-repeat: repeat-x;
    border-radius: 5px;
    border: 0;
    margin: 0px 10px;
}

input[type=number]
{
    color: black;
    height: 28px;
    padding-left: 10px;
    background-color: greenyellow;
    background-repeat: repeat-x;
    border-radius: 5px;
    border: 0;
    margin: 0px 10px;
}

.selected {
    border: solid 2px rgb(206, 255, 214);
    background-color: darkseagreen;
}

.fila:hover {
    background-color: lightblue;
}

div.contenedor {
    position: absolute;
    width: auto;
    height: auto;
    align-self: center;
}

aside {
    float: left;
    width: 20%;
    height: 50vh;
    background-color:rgba(0, 27, 16, 0.932);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: none;
}