body{
    /*background: #090806 url(http://glum.me/uploads/html-web-page-background-color-codes-new-throughout.jpg) repeat-y top center;*/
}
#Horario {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#Horario td, #Horario th {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 5px;
}

#Horario tr:nth-child(even){background-color: #f2f2f2;}

#Horario tr:hover {background-color: #ddd;}

#Horario th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(29, 110, 165);
    color: white;
}