body{
    background: #090806 url(https://s-media-cache-ak0.pinimg.com/originals/2c/58/41/2c584155e733de7b615693682074783a.jpg) no-repeat center;
    background-attachment: fixed;
}
*{
    color:black;
}
h1{
    color: white;
}
#Horario {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#Horario td, #Horario th {
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 5px;
}

#Horario tr:nth-child(even){background-color: #cccccc;}
#Horario tr:nth-child(odd){background-color: #bfff86;}

/*#Horario tr:hover {background-color: #ddd;}*/

#Horario th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(29, 110, 165);
    color: white;
}