*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

header {
    background-color: greenyellow;
    width: 100%;
    height: auto;
}



#id1 {
    
    width: 40%;
    height: 50vh;
    float: left;
}

#id2 {
    
    width: 40%;
    height: 50vh;
    float: left;
}

.fondo1 {
    background-color: grey;
}

.fondo2 {
    background-color: black;
}

.floatRight {
    float: right;
    margin-right: 3px;
}

button {
    background-color: rgb(104, 206, 104);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    margin-left: 3px;
}

table {
    border: 1px solid #ddd;
    background-color: rgb(255, 193, 78);
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 10px;
    
}

td, tr {
    border: 2px solid black;
}

input[type=text]
{
    color: black;
    height: 28px;
    padding-left: 10px;
    background-color: greenyellow;
    background-repeat: repeat-x;
    border-radius: 5px;
    border: 0;
    margin: 0px 10px;
}

.selected {
    border: solid 2px firebrick;
    background-color: darkseagreen;
}

.fila:hover {
    background-color: lightblue;
}

div.contenedor {
    position: relative;
    width: 100%;
    height: 100%;
}

aside {
    float: left;
    width: 20%;
    height: 50vh;
    background-color: aquamarine;
}