body{
  background-color: hsl(120, 38%, 10%);
  font-family: Arial;
  font-weight: normal;
  font-size:15px;
  color: #fff;;
}
header{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  background-color: hsl(60, 12%, 10%);
  color: #ffffff;
  padding: 6px;
  margin: 10px;
  margin-top:0px;
  border-radius: 8px;
  max-width: 100%;
  height: auto;;
}

h1{
  display: block;
  margin: 5px;
  color: rgb(226, 197, 197);
  font-family: "Friz Quadrata Std Medium";
  font-weight: normal;
  font-size:35px;
  font-style: bold;
  letter-spacing: 3px ;
  text-align: center;
  text-transform: capitalize;;  
}


h2,h3{
  background-color: hsl(235, 22%, 24%);
  color: hsl(0, 0%, 100%);
  margin: 15px;
  margin-bottom:2px;
  padding: 3px;
  border-radius: 8px;
  max-width: 100%;
  height: auto;;
}

h3{
    background-color: hsl(122, 59%, 42%);
    margin:0;
    padding: 6px;
}

main{
  margin-top: 77px;
  background: hsl(120, 48%, 64%);
  margin-left: 2px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: inline-block;
}

section{
  margin: 10px;
  border: 1px solid #6B6B6E;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: flex;;
}

article{
  background-color: hsl(81, 84%, 73%);
  color: rgb(57, 57, 57);
  margin: 15px;
  margin-top:4px;
  padding: 14px;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: flex;;
}
img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  width: auto;
}
img.logo{
  height: 90px;
  width: 90px;;
}
img.imgcenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:none;
  } 
  p{
    float: left ;
    width: 400px ;
    height: 400px;
    overflow-y: auto;
    border: 5px;
    border-color: rgb(3, 90, 131);
    border-style: dashed;
    margin: 20PX;
    padding: 10px ;
    background-color: hsl(122, 100%, 95%);
    font-size: 20px ;
    font-family: "Friz Quadrata Std Medium";
    color: rgb(0, 0, 0);
    line-height: 20px;
    border-radius: 5px;
    display: inline-block;
    
  }
  /*p::first-letter { 
    font-size: 200%;
    color: rgb(27, 59, 1);
  }*/
  .capitalLetter
  {
     float:left;
     color:black;
     font-size:45px;
     line-height:35px;
     padding:2px;
     font-family:"Algerian";
     margin-right: 5px;
  }
  .titleinP
  {
    font-size:170%;
    color: rgb(51, 29, 146);
    font-family: "Friz Quadrata Std Medium";
    padding: 2px;
    font-style: bold;
    text-align: center;

  }
